<div class="col-lg-12" style="min-height: 40vh;">
    <ngx-table [configuration]="configuration" [data]="companies" [columns]="columns" [ngBusy]="busy" (event)="eventEmitted($event)">
        <ng-template let-row>
            <td>{{row.name}}</td>
            <td>{{row.ico}}</td>
            <td>{{row.dic}}</td>
            <td>{{row.address.street}} {{row.address.streetNumber}}, {{row.address.zipCode}} {{row.address.municipality}}, {{row.address.state}}</td>
        </ng-template>
    </ngx-table>
    <hr class="delimiter"/>
</div>

<div class="col-lg-12">
    <objednatele-detail [model]="selectedRow" (onDelete)="deleteRow($event)" (onCreate)="createRow($event)" (onUpdate)="updateRow($event)"></objednatele-detail>
</div>