<ngx-table [configuration]="configuration"
           [data]="data"
           [columns]="columns"
           [pagination]="pagination"
           [detailsTemplate]="detailsTemplateRef">

    <ng-template let-row>
        <td>
            <div class="font-small">
                Company: {{row.company}}
            </div>
        </td>
        <td>
            <div class="circle" [style.color]="row.isActive? 'red' : 'green'"></div>
        </td>
        <td>
            <span class="font-small">{{row.age}}</span>
        </td>
        <td>
            <span class="font-small">{{row.name}}</span>
        </td>
        <td>
            <button class="btn btn-primary btn-sm" (click)=showModal()>Edituj</button>
            <button class="btn btn-primary btn-sm" (click)=showModal()>Zobraz detaily</button>
        </td>
    </ng-template>
    
</ngx-table>

<!--<ng-template #detailsTemplate let-row>
    <div>
        <h2 class="color-green">{{row.phone }}</h2>
        {{row.name }} - {{row.age}}
    </div>
</ng-template>-->