
<div>
    <button type="button" class="btn btn-primary">Vytvoř zakázku</button>
</div>

<div class="box-content flex-panel">
    <div class="row">
        <div class="col-sm-12">
            <div class="row orders-grid-header">
                <div class="col-sm-1 column column-15">
                    <span>ID</span>
                </div>
                <div class="col-sm-1 column column-10">
                    <span>Datum</span>
                </div>
                <div class="col-sm-2 column column-15">
                    <span>Objednávka</span>
                </div>
                <div class="col-sm-2 column column-10">
                    <span>Jméno</span>
                </div>
                <div class="col-sm-2 column column-15">
                    <span>Popis</span>
                </div>
                <div class="col-sm-1 column column-20">
                    <span>Termín dodání</span>
                </div>
                <div class="col-sm-1 column column-15">
                    <span>Faktura</span>
                </div>
                <div class="col-sm-1 column column-15">
                    <span>Datum odeslání</span>
                </div>
                <div class="col-sm-1 column column-15">
                    <span>Dodací listy</span>
                </div>
            </div>

            <div class="row orders-grid-body panel-expansable" [ngClass]="{'collapsed': isLoading}">
                <div class="row form-group orders-grid-row" *ngFor="let company of companies">

                    <div class="col-sm-1 column column-15">
                        <!--<span *ngIf="!template.isEditing || template.isInherit">{{template.model.parameter.shortName}}</span>-->
                        <!--<ng-select *ngIf="template.isEditing && !template.isInherit" [class.error]="!template.model.parameter.shortName" [options]="parameterIds"
                                   [(ngModel)]="template.model.parameter.shortName" (selected)="validateDuplication()" placeholder="Select parameter">
                        </ng-select>-->
                        <!--<ng-select [(ngModel)]="company.name" [options]="companies" placeholder="...">
                        </ng-select>-->

                    </div>

                </div>
            </div>

                <!--
        <div class="row panel-expansable" [ngClass]="{'collapsed': isLoading}" dnd-sortable-container [sortableData]="node.templateViewModels">
            <perfect-scrollbar *ngIf="!isLoading" class="ps-container ps-show-always" [config]="config">
                <div class="row form-group"></div>
                <div class="row form-group parameters-grid-row"
                    *ngFor="let template of activeNode.templateViewModels; let i = index"
                    [class.readonly]="template.isInherit"
                    dnd-sortable
                    [sortableIndex]="i"
                     (onDropSuccess)="sortTemplates()"
                    [dragData]="{node: activeNode, template: template}">-->
                <!--<div class="col-sm-1 column column-5 re-order" dnd-sortable-handle>
                        <i class="fa fa-reorder"></i>
                    </div>

                    <div class="col-sm-1 column column-15">
                        <span *ngIf="!template.isEditing || template.isInherit">{{template.model.parameter.shortName}}</span>
                        <ng-select *ngIf="template.isEditing && !template.isInherit" [class.error]="!template.model.parameter.shortName" [options]="parameterIds"
                            [(ngModel)]="template.model.parameter.shortName" (selected)="validateDuplication()" placeholder="Select parameter">
                        </ng-select>
                    </div>

                    <div class="col-sm-1 column column-10">
                        <input type="text" [(ngModel)]="template.model.assemblySettings.mandatoryRule" class="form-control" [class.readonly]="template.isInherit"
                            [class.parsley-error]="!template.model.assemblySettings.isValid" (change)="onMandatoryChange($event, template.model.assemblySettings.usage)"
                            [disabled]="template.isInherit || !template.isEditing" (blur)="validateMandatoryRule(template.model.assemblySettings)">
                    </div>

                    <div class="col-sm-1 column column-5">
                        <div class="checkbox checkbox-primary">
                            <input id="chk_s_a{{template.model.parameter.shortName}}" type="checkbox" [checked]="template.model.assemblySettings.usage.is(TemplateUsage.Searchable)"
                                (change)="template.model.assemblySettings.usage.toggle(TemplateUsage.Searchable)" [disabled]="template.isInherit || !template.isEditing">
                            <label for="chk_s_a{{template.model.parameter.shortName}}"> </label>
                        </div>
                    </div>

                    <div class="col-sm-1 column column-10">
                        <span *ngIf="!template.isEditing || template.isInherit">{{template.model.classification.shortName}}</span>
                        <ng-select *ngIf="template.isEditing && !template.isInherit" [options]="classificationOptions" [allowClear]="true" [(ngModel)]="template.model.classification.shortName"
                            placeholder="Select classification">
                        </ng-select>
                    </div>

                    <div class="col-sm-1 column column-10">
                        <div *ngIf="!template.isInherit">
                            <button *ngIf="!template.isEditing" class="btn btn-icon btn-sm waves-effect waves-light btn-primary" (click)="startEditing(template)">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button *ngIf="!template.isEditing" class="btn btn-icon btn-sm waves-effect waves-light btn-danger" (click)="deleteTemplate(template)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                            <button *ngIf="template.isEditing" class="btn btn-icon btn-sm waves-effect waves-light btn-success" [disabled]="!template.model.parameter.shortName"
                                (click)="stopEditing(template)">
                                <i class="fa fa-save"></i>
                            </button>
                            <button *ngIf="template.isEditing" class="btn btn-icon btn-sm waves-effect waves-light btn-warning" (click)="cancelEditing(template)">
                                <i class="fa fa-remove"></i>
                            </button>
                        </div>
                        <div *ngIf="template.isDirectInherit">
                            <div class="label-panel clickable" (click)="disconnectTemplate(template)">
                                <span class="label label-primary">Disconnect</span>
                            </div>
                        </div>
                    </div>

                </div>
            </perfect-scrollbar>
        </div>
                        -->

                <div *ngIf="isLoading" class="flex-fill">
                    <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
            </div>
    </div>
</div>