<div [ngBusy]="busy">
    <ngx-table [pagination]="pagination" [configuration]="configuration" [data]="companies" [columns]="columns">

        <ng-template let-row>

            <td width="200">
                <div *ngIf="!row.isEdit" class="font-small">{{row.name}}</div>
                <input *ngIf="row.isEdit" type="text" [(ngModel)]="row.name" class="form-control">
            </td>

            <td width="150">
                <div *ngIf="!row.isEdit" class="font-small">{{row.address.street}}</div>
                <input *ngIf="row.isEdit" type="text" [(ngModel)]="row.address.street" class="form-control">
            </td>

            <td width="100">
                <div *ngIf="!row.isEdit" class="font-small">{{row.address.streetNumber}}</div>
                <input *ngIf="row.isEdit" type="text" [(ngModel)]="row.address.streetNumber" class="form-control" type="number">
            </td>

            <td width="100">
                <div *ngIf="!row.isEdit" class="font-small">{{row.address.zipCode}}</div>
                <input *ngIf="row.isEdit" type="text" [(ngModel)]="row.address.zipCode" class="form-control" type="number">
            </td>

            <td width="200">
                <div *ngIf="!row.isEdit" class="font-small">{{row.address.municipality}}</div>
                <input *ngIf="row.isEdit" type="text" [(ngModel)]="row.address.municipality" class="form-control">
            </td>

            <td width="200">
                <div *ngIf="!row.isEdit" class="font-small">{{row.address.state}}</div>
                <input *ngIf="row.isEdit" type="text" [(ngModel)]="row.address.state" class="form-control">
            </td>

            <td width="150">
                <div *ngIf="!row.isEdit" class="font-small">{{row.dic}}</div>
                <input *ngIf="row.isEdit" type="text" [(ngModel)]="row.dic" class="form-control">
            </td>

            <td width="150">
                <div *ngIf="!row.isEdit" class="font-small">{{row.ico}}</div>
                <input *ngIf="row.isEdit" type="text" [(ngModel)]="row.ico" class="form-control" type="number">
            </td>

            <td>
                <button *ngIf="!row.isEdit" class="btn btn-primary btn-sm" (click)=editRow(row)>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button *ngIf="row.isEdit" class="btn btn-primary btn-sm" (click)=confirmRow(row)>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button class="btn btn-danger btn-sm" (click)=deleteRow(row)>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </td>

        </ng-template>

    </ngx-table>
</div>