<div class="text-right" style="padding-top: 15px">
    <button type="button" class="btn btn-success btn-circle btn-lg">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
</div>

<div [ngBusy]="busy">
    <ngx-table [pagination]="pagination" [configuration]="configuration" [data]="customers" [columns]="columns">

        <ng-template let-row>

            <td width="200">
                <div *ngIf="!row.isEdit" class="font-small">{{row.name}}</div>
                <input *ngIf="row.isEdit" type="text" [(ngModel)]="row.name" class="form-control">
            </td>

            <td width="200">
                <span *ngIf="!row.isEdit" class="font-small">{{row.company.name}}</span>
                <ng-select *ngIf="row.isEdit" [options]="companies" [(ngModel)]="row.company.id" [allowClear]="false">
                </ng-select>
            </td>

            <td>
                <button *ngIf="!row.isEdit" class="btn btn-primary btn-sm" (click)=editRow(row)>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button *ngIf="row.isEdit" class="btn btn-success btn-sm" (click)=confirmRow(row)>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button *ngIf="!row.isEdit" class="btn btn-danger btn-sm" (click)=deleteRow(row)>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <button *ngIf="row.isEdit" class="btn btn-warning btn-sm" (click)=cancelEditRow(row)>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </td>

        </ng-template>

    </ngx-table>
</div>