@import '../../../../assets/sass/_variables';
header[role="banner"] {
    margin-top: 0px;
    hr.delimiter {
        background-color: $color-green;
        margin: 0px;
        padding: 0px;
        border: 0px;
        height: 2px;
    }
    $default-background: transparent;
    $default-color: $color-black;
    $hover-background: $color-darkgrey;
    $hover-color: $color-white;
    $active-background: $color-green;
    $active-color: $color-white;
    $border-color: transparent;
    .navbar-default {
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: $default-background;
        border-color: $border-color;
        .navbar-text {
            color: $default-color;
        }
        .navbar-nav {
            @media (min-width: 767px) {
                margin-left: -30px;
            }
            >li {
                >a {
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    color: $default-color;
                    &:hover,
                    &:focus {
                        color: $hover-color;
                        background-color: $hover-background;
                    }
                }
            }
            >.active {
                >a,
                >a:hover,
                >a:focus {
                    color: $active-color;
                    background-color: $active-background;
                }
            }
            >.open {
                >a,
                >a:hover,
                >a:focus {
                    color: $hover-color;
                    background-color: $hover-background;
                }
            }
        }
        .navbar-toggle {
            border-color: $border-color;
            &:hover,
            &:focus {
                color: $hover-color;
                background-color: $hover-background;
            }
            .icon-bar {
                background-color: $default-color;
            }
        }
        .navbar-collapse,
        .navbar-form {
            border-color: $default-color;
        }
        .navbar-link {
            color: $default-color;
            &:hover {
                color: $hover-color;
                background-color: $hover-background;
            }
        }
    }
    @media (max-width: 767px) {
        .navbar-default .navbar-nav .open .dropdown-menu {
            >li>a {
                color: $default-color;
                &:hover,
                &:focus {
                    color: $hover-color;
                    background-color: $hover-background;
                }
            }
            >.active {
                >a,
                >a:hover,
                >a:focus {
                    color: $active-color;
                    background-color: $active-background;
                }
            }
        }
    }
}