//color
$color-primary : #575757;
$color-grey : #999999;
$color-bright : #DADADA;
$color-white : #FFFFFF;
$color-primary: #575757;
$color-bright: #DADADA;
$color-white: #FFFFFF;
$color-darkgrey: #565656;
$color-green: #2199e8;
$color-grey: #b2b2b2;
$color-black: black;
$color-text: white;
$color-validation-error: #a94442;
$color-validation-ok: #42A948;