@import "_spinner";
@import "_variables";
@import "_buttons";
$icon-font-path: "/assets/fonts/";
$fa-font-path: "/assets/fonts/";
@import '~font-awesome/scss/font-awesome';
@import "~bootstrap-sass/assets/stylesheets/_bootstrap";
@import url("~ngx-easy-table/spectre");
@import url("~ngx-easy-table/spectre-icons");
@import url('../../../node_modules/angular2-toaster/toaster');
@import url('../../../node_modules/angular2-busy/build/style/busy');
@import url('../../../node_modules/sweetalert2/dist/sweetalert2');
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}